server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "${LAVALINK_PASSWORD}"
    bufferDurationMs: 400
    sources:
      youtube: false
      soundcloud: true
      bandcamp: false
      twitch: false
      http: false
      local: false
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.18.1"
      repository: "https://maven.lavalink.dev/releases"
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.8.3"
      repository: "https://maven.lavalink.dev/releases"

plugins:
  lavasrc:
    providers:
      - "ytsearch:\"%ISRC%\""
      - "ytsearch:%QUERY%"
    spotify:
      clientId: ""
      clientSecret: ""
      countryCode: "FR"
    sources:
      spotify: false
    soundcloud:
      enabled: true
